.legendTitle{
    font-size: x-large;
    font-weight: bolder;
}

.legend, .legendValues {
    fill: black;
}

.endValue {
    text-anchor: end;
}

.startValue {
    text-anchor: initial;
}

.secondary-text {
    stroke: rgb(120, 122, 122);
    letter-spacing: 1px;
}

